@model Dish
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section css{

    <style>
        .null-marbottom {
            margin-bottom: 0 !important;
        }
        .hide{
            display:none;
        }
        .right{
            float: right;
        }
    </style>
}
<script src="~/Angular/Controllers/DishCtrl.js"></script>
<div class="container-fluid" ng-controller="DishesCtrl">
    <div class="block-header">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="breadcrumb breadcrumb-style ">
                    <li class="breadcrumb-item">
                        <h4 class="page-title">Dishes</h4>
                    </li>
                    <li class="breadcrumb-item bcrumb-1">
                        <a href="~/Home/Index">
                            <i class="fas fa-home"></i> Home
                        </a>
                    </li>
                    <li class="breadcrumb-item bcrumb-2">
                        <a href="#" onClick="return false;">Dishes</a>
                    </li>
                    <li class="breadcrumb-item active">Edit</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        <strong>Edit</strong> Dish
                    </h2>
                </div>
                <div class="modal fade" id="editExtraType" role="dialog"
                     aria-labelledby="formModal" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="formModal">Edit Extra Type</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="post" action="~/Dishes/EditDishExtraType" id="editDishExtraTypeForm">
                                    <input type="hidden" name="returnId" value="@Model.DishId" />
                                    <input type="hidden" name="DishExtraTypeId" id="DishExtraTypeId" value="" />
                                    <label>Type Name <span class="text-danger">*</span></label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" id="TypeName"
                                                   placeholder="Enter Type Name" name="TypeName" required>
                                        </div>
                                    </div>
                                    <label>Allow Multiple <span class="text-danger">*</span></label>
                                    <div class="form-group">
                                        <select class="form-control" id="ChooseMultiple" name="ChooseMultiple">
                                            <option value="true">True</option>
                                            <option value="false">False</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-info waves-effect" onclick="$('#editDishExtraTypeForm').submit()">Save</button>
                                <button type="button" class="btn btn-danger waves-effect"
                                        data-dismiss="modal">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="editExtra" role="dialog"
                     aria-labelledby="formModal" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="formModal">Edit Extra</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="post" action="~/Dishes/EditDishExtra" id="editDishExtraForm">
                                    <input type="hidden" name="returnId" value="@Model.DishId" />
                                    <input type="hidden" name="DishExtraId" id="DishExtraId" value="" />
                                    <input type="hidden" name="DishExtraTypeId" id="DishExtraTypeId-ExtraEdit" />
                                    <label>Name <span class="text-danger">*</span></label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" id="ExtraName"
                                                   placeholder="Enter Extra Name" name="ExtraName">
                                        </div>
                                    </div>
                                    @if (Model.DishSizes.Count() == 0)
                                    {
                                        <label>Price <span class="text-danger">*</span></label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="number" class="form-control" id="ExtraPrice"
                                                       placeholder="Enter Price" min="0" name="ExtraPrice">
                                            </div>
                                        </div>
                                    }
                                    <label>Allergies</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" id="ExtraAllergies"
                                                   placeholder="Enter Allergies" name="Allergies">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-info waves-effect" onclick="$('#editDishExtraForm').submit()">Save</button>
                                <button type="button" class="btn btn-danger waves-effect"
                                        data-dismiss="modal">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="addDishExtra" role="dialog"
                     aria-labelledby="formModal" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <form method="post" action="~/Dishes/AddDishExtraType">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="formModal">Add Dish Topping Head</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <input type="hidden" name="returnId" value="@Model.DishId" />
                                    <input type="hidden" name="DishId" value="@Model.DishId" />
                                    <label>Type Name <span class="text-danger">*</span></label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control"
                                                   placeholder="Enter Extra Type Name" name="TypeName">
                                        </div>
                                    </div>
                                    <label>Choose Multiple <span class="text-danger">*</span></label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <select class="form-control" name="ChooseMultiple">
                                                <option value="True">Allow</option>
                                                <option value="False">Disable</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <input type="submit" class="btn btn-info waves-effect" value="Submit" />
                                    <button type="button" class="btn btn-danger waves-effect"
                                            data-dismiss="modal">
                                        Cancel
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="addExtra" role="dialog"
                     aria-labelledby="formModal" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="formModal">Edit Extra</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="post" action="~/Dishes/AddDishExtra" id="addDishExtraForm">
                                    <input type="hidden" name="returnId" value="@Model.DishId" />
                                    <input type="hidden" name="DishExtraTypeId" id="AddDishExtraTypeId" value="" />
                                    <label>Name <span class="text-danger">*</span></label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control"
                                                   placeholder="Enter Extra Name" name="ExtraName">
                                        </div>
                                    </div>
                                    <label>Allergies</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control"
                                                   placeholder="Enter Allergies" name="Allergies">
                                        </div>
                                    </div>
                                    @if (Model.DishSizes.Count() == 0)
                                    {
                                        <label>Price <span class="text-danger">*</span></label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" class="form-control"
                                                       placeholder="Enter Price" name="ExtraPrice">
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <label>Price <span class="text-danger">*</span></label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                @foreach (var price in Model.DishSizes)
                                                {
                                                    <input type="hidden" class="form-control"
                                                           placeholder="Enter Price" name="DishSizeId[]" value="@price.DishSizeId">
                                                    <input type="hidden" class="form-control"
                                                           placeholder="Enter Price" name="SizeName[]" value="@price.Size">

                                                    <input type="number" class="form-control"
                                                           placeholder="@price.Size" name="Price[]">
                                                }
                                            </div>
                                        </div>
                                    }
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-info waves-effect" onclick="$('#addDishExtraForm').submit()">Save</button>
                                <button type="button" class="btn btn-danger waves-effect"
                                        data-dismiss="modal">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body" ng-init="">
                    <form action="~/Dishes/Edit" method="post" style="margin-bottom:15px">
                        <h2 class="card-inside-title">Dish Details</h2>
                        <div class="row clearfix">
                            <input type="hidden" asp-for="DishId" value="@Model.DishId" id="dishId" />
                            <div class="col-lg-12 col-md-12 null-marbottom">
                                <label>Dish Category</label>
                                <div class="form-group">
                                    <select class="form-control" asp-for="DishCategoryId" asp-items="@( new SelectList(@ViewBag.Categories,"DishCategoryId","CategoryName" ))" required>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 null-marbottom">
                                <div class="form-group">
                                    <label>Dish Name</label>
                                    <input type="text" asp-for="DishName" class="form-control" placeholder="Enter Dish Name" required>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 null-marbottom">
                                <div class="form-group">
                                    <label>Sub Name</label>
                                    <input type="text" asp-for="SubName" class="form-control" placeholder="Enter Dish Sub Name">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 null-marbottom">
                                <div class="form-group">
                                    <label>Base Price</label>
                                    <input type="number" asp-for="BasePrice" class="form-control" placeholder="$$" required>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 null-marbottom">
                                <div class="form-group">
                                    <label>Allergies</label>
                                    <input type="text" asp-for="Allergies" class="form-control" placeholder="Allergies">
                                </div>
                            </div>
                            <div class="col-md-12 col-md-12">
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea placeholder="Enter Description of Dish" asp-for="Description" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12 col-md-12">
                                <div class="form-group">
                                    <input class="btn btn-success" type="submit" name="submit" value="Submit" style="float:right; margin-right:5px" />
                                </div>
                            </div>
                        </div>
                    </form>


                    <h4 class="card-inside-title"> Dish Sizes </h4>
                    <div class="row">
                        <div class="col-12">
                            <table>
                                <tr>
                                    <th width="30%">Size</th>
                                    <th width="30%">Price</th>
                                    <th width="30%">Diameter</th>
                                    <th width="10%"><button class="btn btn-primary" onclick="$('#add-dish-size').toggle()"><i class="fa fa-plus"></i></button></th>
                                </tr>
                            </table>
                            @foreach (var size in Model.DishSizes)
                            {
                                <form method="post" action="~/Dishes/EditDishSize">
                                    <input type="hidden" name="DishSizeId" value="@size.DishSizeId" />
                                    <input type="hidden" name="DishId" value="@Model.DishId" />
                                    <table>
                                        <tr>
                                            <td width="30%">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Size" name="Size" value="@size.Size" />
                                                </div>
                                            </td>
                                            <td width="30%">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Price" name="BasePrice" value="@size.BasePrice" />
                                                </div>
                                            </td>
                                            <td width="30%">
                                                <div class="form-group"><input type="text" class="form-control" placeholder="Diameter" name="Diameter" value="@size.Diameter" /></div>
                                            </td>
                                            <td width="10%">
                                                <button class="btn btn-primary"><i class="fas fa-save"></i></button>
                                                <a href="~/Dishes/DeleteSize/@size.DishSizeId" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            }
                            <form id="add-dish-size" style="display:none" method="post" action="~/Dishes/AddDishSize">
                                <input type="hidden" name="DishId" value="@Model.DishId" />
                                <table>
                                    <tr>
                                        <td width="30%">
                                            <div class="form-group"><input type="text" class="form-control" placeholder="Size" name="Size" /></div>
                                        </td>
                                        <td width="30%">
                                            <div class="form-group"><input type="text" class="form-control" placeholder="Price" name="BasePrice" /></div>
                                        </td>
                                        <td width="30%">
                                            <div class="form-group"><input type="text" class="form-control" placeholder="Diameter" name="Diameter" /></div>
                                        </td>
                                        <td width="10%">
                                            <button class="btn btn-primary"><i class="fas fa-save"></i></button>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>


                    <h2 class="card-inside-title">
                        Dish Topping Details
                        <button data-toggle="modal" data-target="#addDishExtra" class="btn btn-primary" style="float:right">
                            <i class="fa fa-plus"></i>
                        </button>
                    </h2>

                    <br />
                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                        @foreach (var extraType in Model.DishExtraTypes)
                        {
                            <thead>
                                <tr>
                                    <th width="25%">@extraType.TypeName</th>
                                    <th width="25%">Price</th>
                                    <th width="35%">Alergies</th>
                                    <th width="15%">
                                        <a class="btn btn-danger right" href="~/Dishes/DeleteDishExtraType?returnId=@Model.DishId&DishExtraTypeId=@extraType.DishExtraTypeId"><i class="fa fa-trash"></i></a>
                                        <button onclick="setExtraTypeEditModalValues(@extraType.DishExtraTypeId,'@extraType.TypeName','@extraType.ChooseMultiple')" data-toggle="modal" data-target="#editExtraType" class="btn btn-warning right">
                                            <i class="fa fa-pencil-alt"></i>
                                        </button>
                                        <button onclick="$('#AddDishExtraTypeId').val(@extraType.DishExtraTypeId);" data-toggle="modal" data-target="#addExtra" class="btn btn-success right">
                                            <i class="fa fa-plus"></i>
                                        </button>

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var extra in extraType.DishExtras)
                                {
                                    <tr>
                                        <td>@extra.ExtraName</td>
                                        <td>
                                            @if (Model.DishSizes.Count() == 0)
                                            {
                                                @extra.ExtraPrice
                                            }
                                            else
                                            {
                                                foreach (var price in extra.SizeToppingPrices)
                                                {
                                                    <span>@price.SizeName: @price.Price</span>
                                                }
                                            }
                                        </td>

                                        <td>@extra.Allergies</td>
                                        <td>
                                            <a class="btn btn-danger right" href="~/Dishes/DeleteDishExtra?returnId=@Model.DishId&DishExtraId=@extra.DishExtraId"><i class="fa fa-trash"></i></a>
                                            <button onclick="setExtraEditModalValues(@extra.DishExtraId,'@extra.ExtraName',@extra.ExtraPrice,'@extra.Allergies', @extra.DishExtraTypeId)" data-toggle="modal" data-target="#editExtra" class="btn btn-info right"><i class="fa fa-pencil-alt"></i></button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        }
                    </table>

                </div>
            </div>
        </div>
    </div>

</div>

@section scripts{

    <script src="~/assets/js/form.min.js"></script>
    <script src="~/assets/js/pages/forms/form-wizard.js"></script>
    <script>
        function setExtraTypeEditModalValues(id, name, allowMultiple) {
            $("#DishExtraTypeId").val(id);
            $("#TypeName").val(name);
            if (allowMultiple == 'True')
                $("#ChooseMultiple").val("true");
            else
                $("#ChooseMultiple").val("false");
        }
        function setExtraEditModalValues(id, name, price, allergies, extratype) {
            $("#DishExtraId").val(id);
            $("#ExtraName").val(name);
            $("#ExtraPrice").val(price);
            $('#ExtraAllergies').val(allergies);
            $('#DishExtraTypeId-ExtraEdit').val(extratype);
        }
    </script>
}