@model IEnumerable<Dish>
@{
    ViewData["Title"] = "Dishes";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .heading {
        color: #212529;
    }

    .align-center {
        text-align: center;
    }
</style>
<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="breadcrumb breadcrumb-style ">
                    <li class="breadcrumb-item">
                        <h4 class="page-title">Dishes</h4>
                    </li>
                    <li class="breadcrumb-item bcrumb-1">
                        <a href="~/Home/Index">
                            <i class="fas fa-home"></i> Home
                        </a>
                    </li>
                    <li class="breadcrumb-item bcrumb-2">
                        <a href="#" onClick="return false;">Dishes</a>
                    </li>
                    <li class="breadcrumb-item active">Index</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Basic Examples -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        <strong>Dishes</strong>
                        <button style="float:right" class="btn btn-primary filter-button">Filter</button>
                    </h2>
                </div>

                <div class="body">
                    <form id="searchForm" action="~/Dishes/Index" method="post" style="display:none">
                        <div class="row clearfix">
                            <div class="col-lg-12">
                                <select class="form-control" name="id" onchange="applyfilter()">
                                    <option hidden>Select Category</option>
                                    @foreach (var category in ViewBag.Categories)
                                    {
                                        <option value="@category.DishCategoryId">@category.CategoryName</option>
                                    }
                                    <option value="0">All</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive">

                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                            <thead>
                                <tr>
                                    <th>Category</th>
                                    <th>Dish</th>
                                    <th>Sub Name</th>
                                    <th>Price</th>
                                    <th>Status</th>
                                    <th>Actions</th>

                                    <th><button type="submit" id="delBtn"value="DeleteDishes" class="btn btn-danger" ><i class="fas fa-trash-alt"></i></button></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ var count = 0;}
                                @foreach (var dish in Model)
                                {
                                    <tr>
                                        <td>@dish.DishCategory.CategoryName</td>
                                        <td>@dish.DishName</td>
                                        <td>@dish.SubName</td>
                                        <td>€ @dish.BasePrice</td>
                                        <td>
                                            @if (dish.Status)
                                            {<div class="badge col-green">available</div> }
                                            else
                                            { <div class="badge col-red">unavailable</div>}

                                        </td>
                                        <td>

                                            <a class="btn btn-success" href="~/Dishes/Edit/@dish.DishId"><i class="fas fa-pencil-alt"></i></a>
                                            <button class="btn btn-info" data-toggle="modal" data-target=".details_@count"><i class="fas fa-list-ul"></i></button>
                                            <button class="btn btn-danger" onclick="confirmDeletionPermanent(@dish.DishId)"><i class="fas fa-trash-alt"></i></button>

                                            @if (dish.Status)
                                            {
                                                <button class="btn btn-danger" onclick="confirmDeletion(@dish.DishId)"><i class="fas fa-toggle-off"></i></button>
                                            }
                                            else
                                            {
                                                <button class="btn btn-success" onclick="confirmEnable(@dish.DishId)"><i class="fas fa-toggle-on"></i></button>
                                            }
                                            <div class="modal fade bd-example-modal-lg details_@count" tabindex="-1" role="dialog"
                                                 aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="myLargeModalLabel">Dish Details</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="row clearfix">
                                                                <div class="col-lg-12">
                                                                    <h5>Description: </h5>
                                                                    <p>@dish.Description</p>
                                                                    <h5>Allergies: </h5>
                                                                    <p>@dish.Allergies</p>
                                                                </div>
                                                                @if (dish.DishExtraTypes != null)
                                                                {
                                                                    var dishExtraTypeCount = 1;
                                                                    foreach (var type in dish.DishExtraTypes)
                                                                    {
                                                                        <div class="col-md-4 heading align-center"> Dish Extra Type</div>
                                                                        <div class="col-md-4"></div>
                                                                        <div class="col-md-4 heading align-center"><b>Multiple</b></div>
                                                                        <div class="col-md-4 align-center">@type.TypeName</div>
                                                                        <div class="col-md-4"></div>
                                                                        <div class="col-md-4 align-center">
                                                                            @if (type.ChooseMultiple)
                                                                            {<div class="badge col-green">allow</div> }
                                                                            else
                                                                            { <div class="badge col-red">disable</div>}
                                                                        </div>
                                                                        if (type.DishExtras != null)
                                                                        {
                                                                            <div class="col-lg-12">
                                                                                <div class="row clearfix">
                                                                                    <div class="col-lg-3 heading align-center"><b>Topping Name</b></div>
                                                                                    <div class="col-lg-3 heading align-center"><b>Topping Price</b></div>
                                                                                    <div class="col-lg-3 heading align-center"><b>Allergy</b></div>
                                                                                    <div class="col-lg-2"></div>
                                                                                    <br />
                                                                                    @foreach (var extra in type.DishExtras)
                                                                                    {

                                                                                        <div class="col-md-3 align-center">@extra.ExtraName</div>
                                                                                        <div class="col-md-3 align-center">@extra.ExtraPrice</div>
                                                                                        <div class="col-md-3 align-center">@extra.Allergies</div>
                                                                                        <div class="col-lg-2"></div>
                                                                                        <br />
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                        }
                                                                        dishExtraTypeCount++;
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <p>No record found</p>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            @*  @dish.DishId*@
                                           
                                                <label class="form-check-label">
                                                    <input onclick="addIntoListDelete(@dish.DishId)" class="form-check-input" name="dishIds" type="checkbox">
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                           


                                        </td>

                                    </tr>
                                    count++;
                                }
                            </tbody>

                            <tfoot>
                                <tr>
                                    <th>Category</th>
                                    <th>Dish</th>
                                    <th>Sub Name</th>
                                    <th>Price</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/assets/js/table.min.js"></script>
    <script src="~/assets/js/pages/tables/jquery-datatable.js"></script>
    <script>

        var list = [];
        function addIntoListDelete(id) {
            var index = list.indexOf(id);
            if (index > -1)
                list.splice(index, 1);
            else
              list.push(id);
        }
        function applyfilter() {
            $('#searchForm').submit();
        }
        //multiple dish deletion
        $("#delBtn").click(function () {
            if (list != 0) {
                swal({
                    title: "Are you sure?",
                    text: "Your Dish can not be restored!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, delete it!",
                    closeOnConfirm: false
                }, function () {
                    $.ajax({
                        type: "POST",
                        url: '/Dishes/DeleteDishes',
                        data: { dishIds: list },
                        success: function () {
                            swal("Deleted!", "Your Dish is Deleted!", "success");
                            window.location.href = "/Dishes/Index";
                        },
                        error: function (xhr) {
                            swal("Error", "Please Try again later!", "error");
                        }
                    });

                });
            }
            else
                 swal({
                    title: "Please Select At-Least One",
                    
                    type: "warning",
                     showCancelButton: false,
                   
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes,I got it!",
                    closeOnConfirm: true
                }, function () {
                  

                });
        });

        
           
       
        /////

        function confirmDeletionPermanent(Id) {
            swal({
                title: "Are you sure?",
                text: "Your Dish can not be restored!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    type: "POST",
                    url: '/Dishes/Delete',
                    data: { id: Id },
                    success: function () {
                        swal("Deleted!", "Your Dish is Deleted!", "success");
                        window.location.href = "/Dishes/Index";
                    },
                    error: function (xhr) {
                        swal("Error", "Please Try again later!", "error");
                    }
                });

            });
        }
        function confirmDeletion(Id) {
            swal({
                title: "Are you sure?",
                text: "Your Dish will be Disabled!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    type: "POST",
                    url: '/Dishes/DisableDish',
                    data: { id: Id },
                    success: function () {
                        swal("Deleted!", "Your Dish is Deleted!", "success");
                        window.location.href = "/Dishes/Index";
                    },
                    error: function (xhr) {
                        swal("Error", "Please Try again later!", "error");
                    }
                });

            });
        }

        function confirmEnable(Id) {
            swal({
                title: "Are you sure?",
                text: "Your Dish will be Restored!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, Restore!",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    type: "POST",
                    url: '/Dishes/EnableDish',
                    data: { id: Id },
                    success: function () {
                        swal("Restored!", "Your Dish is Restored!", "success");
                        window.location.href = "/Dishes/Index";
                    },
                    error: function (xhr) {
                        swal("Error", "Please Try again later!", "error");
                    }
                });

            });
        }
        $(document).ready(function () {
            $(".filter-button").click(function () {
                $('#searchForm').slideToggle();
            });
        });
    </script>
}

