@model IEnumerable<Order>
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script src="~/Angular/Controllers/ShopScheduleCtrl.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js"></script>

@section css{
    <style>
        .support-box {
            min-height: 90px !important;
        }
    </style>
}
<div class="container-fluid" ng-controller="ShopScheduleCtrl">
    <div class="block-header">
        <div class="row">
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                <ul class="breadcrumb breadcrumb-style ">
                    <li class="breadcrumb-item">
                        <h4 class="page-title" style="border-right:0">
                            Dashboard
                        </h4>
                    </li>
                </ul>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="text-align:right">
                <form action="~/ShopSchedule/ToggleShop" method="post" id="scheduleForm" style="cursor:pointer">
                    <div class="form-line" style="padding-top:30px">
                        <div class="switch">
                            <label>
                                @(ViewBag.isOpen ? "Shop Opened" : "Shop Closed")
                                <input type="checkbox" name="status" @(ViewBag.isOpen ? "checked=checked" : "") @(ViewBag.isOpen ? "on" : "off") id="shopId" onchange="$('#scheduleForm').submit()">
                                <span class="lever switch-col-black"></span>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <form action="~/Orders/SearchTodayOrders" onclick="$(this).submit()" target="_blank" style="cursor:pointer">
                <input type="hidden" name="filter" value="TodayOrders" />
                <div class="support-box text-center bg-green">
                    <div class="text font-17 m-b-5">Today Orders</div>
                    <h3 class="m-b-10">
                        @ViewBag.TodayOrdersCount
                    </h3>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-sm-6">
            <form action="~/Orders/SearchTodayOrders" onclick="$(this).submit()" target="_blank" style="cursor:pointer">
                <input type="hidden" name="filter" value="Pending" />
                <div class="support-box text-center bg-orange">
                    <div class="text font-17 m-b-5">Pending Orders</div>
                    <h3 class="m-b-10">
                        @ViewBag.PendingOrdersCount
                    </h3>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-sm-6">
            <form action="~/Orders/SearchTodayOrders" onclick="$(this).submit()" target="_blank" style="cursor:pointer">
                <input type="hidden" name="filter" value="Delivered" />
                <div class="support-box text-center bg-cyan">
                    <div class="text font-17 m-b-5">Delivered Orders</div>
                    <h3 class="m-b-10">
                        @ViewBag.TodayDeliveredCount
                    </h3>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-sm-6">
            <form action="~/Orders/SearchTodayOrders" onclick="$(this).submit()" target="_blank" style="cursor:pointer">
                <input type="hidden" name="filter" value="TodaySale" />
                <div class="support-box text-center bg-teal">
                    <div class="text font-17 m-b-5">Today Sales</div>
                    <h3 class="m-b-10">
                        @ViewBag.TodaySales €
                    </h3>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-sm-6">
            <form style="cursor: pointer">
                <input type="hidden" name="imageurl" value="UploadLogo" />
                <div class="support-box text-center bg-teal">
                    <div class="text font-17 m-b-5">Upload Logo</div>
                    <input style="display:none" type="file" id="fileInput" oninput="showImage()">
                    <div id="ImageTab" class="center">
                    </div>
                    <img style="width:40px;margin-left: 20px; margin-right:20px" id="selectImageBtn" class="icon-colored pointer" onclick="$('#fileInput').click()" src="~/assets/images/details_open.png" title="add_image.svg">
                    <button type="button" class="btn btn-info waves-effect" ng-click="ShopLogoUpdate()">Save</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-12">
            <div class="card">
                <audio id="NotSound">
                    <source src="~/Sounds/not.mp3" type="audio/mpeg">
                </audio>
                <div class="modal fade" id="ChangeStatusModal" tabindex="-1" role="dialog"
                     aria-labelledby="formModal" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="formModal">Change Order Status</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <input type="hidden" class="mdlOrderId" name="OrderId" />
                                    <div class="row clearfix">
                                        <div class="col-md-12">
                                            <h5> Status</h5>
                                            <div class="select-wrapper focused ">
                                                <input type="hidden" name="orderId" value="" id="orderId" />
                                                <select id="statusList" class="form-control statusList" tabindex="-1" name="orderStatus">
                                                    <option value="Pending">Pending</option>
                                                    <option value="Confirmed">Confirmed</option>
                                                    <option value="Processing">Processing</option>
                                                    <option value="Shipped">Shipped</option>
                                                    <option value="Delivered">Delivered</option>
                                                    <option value="Cancelled">Cancelled</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-info waves-effect" onclick="changeStatus()">Submit</button>
                                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancel</button>
                                    </div>
                                </form>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div id="orderDetailsModal"></div>
                <div class="header">
                    <h2>
                        <strong>Orders</strong> Recieved
                    </h2>
                </div>
                <div class="tableBody">
                    <div class="table-responsive overflow-hidden">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                            <thead>
                                <tr>
                                    <th>OrderCode</th>
                                    <th>Placing & Recieving</th>
                                    <th>PostalCode</th>
                                    <th>Address</th>
                                    <th>TotalBill</th>
                                    <th>Mobile #</th>
                                    <th width="13%" class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody class="ordersList">
                                @foreach (var order in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => order.OrderCode)
                                    </td>
                                    <td>
                                        <strong class="font-bold">Ordered at:</strong>
                                        @order.OrderDateTime.ToShortTimeString()
                                        <strong class="font-bold">Recieving:</strong>
                                        @Html.DisplayFor(modelItem => order.RecievingTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => order.OrderDeliveryAddress.PostalCode)
                                        <strong class="font-bold">|</strong>
                                        @Html.DisplayFor(modelItem => order.OrderDeliveryAddress.City)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => order.OrderDeliveryAddress.Address)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => order.TotalBill)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => order.OrderBy.Contact)
                                    </td>
                                    <td class="text-center">
                                        <a target="_blank" class="btn tblActnBtn" href="~/Orders/SecondInvoice/@order.OrderId"><i class="fas fa-print pt-2"></i></a>
                                        <button class="btn tblActnBtn" data-toggle="modal" data-target="#ChangeStatusModal" onclick="setValue(@order.OrderId,'@order.OrderStatus')"><i class="fas fa-toggle-on"></i></button>
                                        <button class="btn tblActnBtn" onclick="showOrderDetails(@order.OrderId)"><i class="fas fa-info-circle"></i></button>
                                    </td>
                                </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>OrderCode</th>
                                    <th>Placing & Recieving</th>
                                    <th>PostalCode</th>
                                    <th>Address</th>
                                    <th>TotalBill</th>
                                    <th>Mobile #</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/Notifications/notifyorder.js"></script>
    <script src="~/UtilityMethods/showOrderDetails.js"></script>
    <script src="https://www.google.com/cloudprint/client/cpgadget.js"></script>

    <script>
        function showImage() {
            var file_data = $("#fileInput").prop("files")[0];
            $('#ImageTab').append('<img style="cursor:pointer" src="' + window.URL.createObjectURL(file_data) + '" alt="' + file_data.name + '" /> <i onclick="ClearFile()"');
            $('#selectImageBtn').hide();
        }


        window.onload = function () {
            var gadget = new cloudprint.Gadget();
            gadget.setPrintButton(
                cloudprint.Gadget.createDefaultPrintButton("print_button_container")); // div id to contain the button
            gadget.setPrintDocument("url", "Test Page", "https://www.google.com/landing/cloudprint/testpage.pdf");
        }


        function setValue(id, status) {
            $("#orderId").val(id);
            $("#statusList option[value=" + status + "]").attr('selected', 'selected');
        }
        function changeStatus() {
            var id = $("#orderId").val();
            var status = $("#statusList").val();

            $.ajax({
                type: "POST",
                url: '/Orders/ChangeOrderStatus',
                data: { orderId: id, orderStatus: status },
                success: function (orderId) {
                    var id = orderId
                    if (status == 'Confirmed') {
                        window.open('/Orders/Invoice/' + id, '_blank');
                        document.location.reload(true);
                    } else {
                        window.location.href = "/Dashboard/Index";
                    }
                }
            });
        }

        function getOrderTableSortOrder() {
            return { SortOrder: [[0, "desc"]] };
        }

        window.RiaPizzaConfig = getOrderTableSortOrder();



        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        });
    </script>

    <script src="~/assets/js/table.min.js"></script>
    <script src="~/assets/js/pages/tables/jquery-datatable.js"></script>
    <script src="~/assets/js/pages/index.js"></script>
    <script src="~/assets/js/pages/charts/jquery-knob.js"></script>
    <script src="~/assets/js/pages/sparkline/sparkline-data.js"></script>
    <script src="~/assets/js/pages/medias/carousel.js"></script>
    <script src="~/assets/js/chart.min.js"></script>
}