@model IEnumerable<Order>
@{
    ViewData["Title"] = "GetAllOrders";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="breadcrumb breadcrumb-style ">
                    <li class="breadcrumb-item">
                        <h4 class="page-title">Orders</h4>
                    </li>
                    <li class="breadcrumb-item bcrumb-1">
                        <a href="~/Home/Index">
                            <i class="fas fa-home"></i> Home
                        </a>
                    </li>
                    <li class="breadcrumb-item bcrumb-2">
                        <a href="#" onClick="return false;">All Orders</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Basic Examples -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="modal fade" id="ChangeStatusModal" tabindex="-1" role="dialog"
                     aria-labelledby="formModal" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="formModal">Change Order Status</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <input type="hidden" class="mdlOrderId" name="OrderId" />
                                    <div class="row clearfix">
                                        <div class="col-md-12">
                                            <h5> Status</h5>
                                            <div class="select-wrapper focused ">
                                                <input type="hidden" name="orderId" value="" id="orderId" />
                                                <select id="statusList" class="form-control statusList" tabindex="-1" name="orderStatus">
                                                    <option value="Pending">Pending</option>
                                                    <option value="Confirmed">Confirmed</option>
                                                    <option value="Processing">Processing</option>
                                                    <option value="Shipped">Shipped</option>
                                                    <option value="Delivered">Delivered</option>
                                                    <option value="Cancelled">Cancelled</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-info waves-effect" onclick="changeStatus()">Submit</button>
                                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancel</button>
                                    </div>
                                </form>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="orderDetailsModal"></div>
                <div class="header"><h2><strong>Order List</strong></h2></div>
                <div class="body">
                    <div class="table-responsive overflow-hidden">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                            <thead>
                                <tr>
                                    <th>OrderCode</th>
                                    <th>Placing & Recieving</th>
                                    <th>PostalCode</th>
                                    <th>Address</th>
                                    <th>TotalBill</th>
                                    <th>Mobile #</th>
                                    <th width="13%" class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody class="ordersList">
                                @foreach (var order in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => order.OrderCode)
                                        </td>
                                        <td>
                                            <strong class="font-bold">Ordered at:</strong>
                                            @order.OrderDateTime.ToShortTimeString()
                                            <strong class="font-bold">Recieving:</strong>
                                            @Html.DisplayFor(modelItem => order.RecievingTime)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => order.OrderDeliveryAddress.PostalCode)
                                            <strong class="font-bold">|</strong>
                                            @Html.DisplayFor(modelItem => order.OrderDeliveryAddress.City)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => order.OrderDeliveryAddress.Address)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => order.TotalBill)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => order.OrderBy.Contact)
                                        </td>
                                        <td class="text-center">
                                            <a target="_blank" class="btn tblActnBtn" href="~/Orders/SecondInvoice/@order.OrderId"><i class="fas fa-print pt-2"></i></a>
                                            <button class="btn tblActnBtn" data-toggle="modal" data-target="#ChangeStatusModal" onclick="setValue(@order.OrderId,'@order.OrderStatus')"><i class="fas fa-toggle-on"></i></button>
                                            <button class="btn tblActnBtn" onclick="showOrderDetails(@order.OrderId)"><i class="fas fa-info-circle"></i></button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>OrderCode</th>
                                    <th>Placing & Recieving</th>
                                    <th>PostalCode</th>
                                    <th>Address</th>
                                    <th>TotalBill</th>
                                    <th>Mobile #</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src="~/UtilityMethods/showOrderDetails.js"></script>
    <script src="~/assets/js/table.min.js"></script>
    <script src="~/assets/js/pages/tables/jquery-datatable.js"></script>

    <script>
        function getOrderTableSortOrder() {
            return { SortOrder: [[0, "desc"]] };
        }

        window.RiaPizzaConfig = getOrderTableSortOrder();

        function setValue(id, status) {
            $("#orderId").val(id);
            $("#statusList option[value=" + status + "]").attr('selected', 'selected');
        }

        function changeStatus() {
            var id = $("#orderId").val();
            var status = $("#statusList").val();

            $.ajax({
                type: "POST",
                url: '/Orders/ChangeOrderStatus',
                data: { orderId: id, orderStatus: status },
                success: function (orderId) {
                    var id = orderId
                    if (status == 'Confirmed') {
                        window.open(
                        '@Url.Action("Invoice","Orders",new { id = "CC"})'.replace("CC", id), '_blank');
                        document.location.reload(true);
                    } else {
                        window.location.href = "/Orders/Index";
                    }
                }
            });
        }


        function deleteOrder (Id){
            swal({
                title: "Are you sure?",
                text: "Your Order will be deleted!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    type: "POST",
                    url: '/Orders/Delete',
                    data: { id: Id },
                    success: function () {
                        swal("Deleted!", "Your Order is Deleted!", "success");
                        window.location.href = "/Orders/Index";
                    },
                    error: function (xhr) {
                        swal("Error", "Please Try again later!", "error");
                    }
                });

            });
        }
    </script>
}