@model IEnumerable<Order>
@{
    ViewData["Title"] = "changeOrderStatus";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="breadcrumb breadcrumb-style ">
                    <li class="breadcrumb-item">
                        <h4 class="page-title">Orders</h4>
                    </li>
                    <li class="breadcrumb-item bcrumb-1">
                        <a href="~/Home/Index">
                            <i class="fas fa-home"></i> Home
                        </a>
                    </li>
                    <li class="breadcrumb-item bcrumb-2">
                        <a href="#" onClick="return false;">Orders In Progress</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Basic Examples -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="modal fade" id="ChangeStatusModal" tabindex="-1" role="dialog"
                     aria-labelledby="formModal" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="formModal">Change Order Status</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <input type="hidden" class="mdlOrderId" name="OrderId" />
                                    <div class="row clearfix">
                                        <div class="col-md-12">
                                            <h5> Status</h5>
                                            <div class="select-wrapper focused ">
                                                <input type="hidden" name="orderId" value="" id="orderId" />
                                                <select id="statusList" class="form-control statusList" tabindex="-1" name="orderStatus">
                                                    <option value="Pending">Pending</option>
                                                    <option value="Confirmed">Confirmed</option>
                                                    <option value="Processing">Processing</option>
                                                    <option value="Shipped">Shipped</option>
                                                    <option value="Delivered">Delivered</option>
                                                    <option value="Cancelled">Cancelled</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-info waves-effect" onclick="changeStatus()">Submit</button>
                                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancel</button>
                                    </div>
                                </form>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="orderDetailsModal"></div>
                <div class="header">
                    <h2>
                        <strong>Orders in Progress</strong>
                    </h2>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                            <thead>
                                <tr>
                                    <th>OrderCode</th>
                                    <th>OrderBy</th>
                                    <th>OrderStatus</th>
                                    <th>RecievingTime</th>
                                    <th>TotalBill</th>
                                    <th>PaymentMethod</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var order in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => order.OrderCode)
                                        </td>
                                        <td>@order.OrderBy.Name</td>
                                        <td class="status">
                                            @if (order.OrderStatus == "Pending")
                                            {<span class="label bg-yellow shadow-style">Pending</span>}
                                            else if (order.OrderStatus == "Confirmed")
                                            {<span class="label bg-orange shadow-style">Confirmed</span>}
                                            else if (order.OrderStatus == "Processing")
                                            {<span class="label bg-teal shadow-style">Processing</span>}
                                            else if (order.OrderStatus == "Shipped")
                                            {<span class="label bg-cyan shadow-style">Shipped</span>}
                                            else if (order.OrderStatus == "Delivered")
                                            {<span class="label bg-blue shadow-style">Delivered</span>}
                                            else if (order.OrderStatus == "Cancelled")
                                            {<span class="label bg-red shadow-style">Cancelled</span>}
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => order.RecievingTime)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => order.TotalBill)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => order.PaymentMethod)
                                            @if (order.IsPaymentConfirmed == true)
                                            {<span class="label bg-green shadow-style">Active</span>}
                                            @if (order.IsPaymentConfirmed == false)
                                            {<span class="label bg-red shadow-style">Inactive</span>}
                                        </td>
                                        <td>
                                            <button data-toggle="modal" data-target="#ChangeStatusModal" class="btn btn-success" onclick="setValue(@order.OrderId,'@order.OrderStatus')"><i class="fas fa-toggle-on"></i></button>
                                            <button class="btn btn-primary" onclick="showOrderDetails(@order.OrderId)"><i class="fas fa-info-circle"></i></button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>OrderCode</th>
                                    <th>OrderBy</th>
                                    <th>OrderStatus</th>
                                    <th>RecievingTime</th>
                                    <th>TotalBill</th>
                                    <th>PaymentMethod</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src="~/UtilityMethods/showOrderDetails.js"></script>
    <script>
        function getOrderTableSortOrder() {
            return { SortOrder: [[0, "desc"]] };
        }

        window.RiaPizzaConfig = getOrderTableSortOrder();
    </script>
    <script>

        function setValue(id, status) {
            $("#orderId").val(id);
            $("#statusList option[value=" + status + "]").attr('selected', 'selected');
        }
        function changeStatus() {
            var id = $("#orderId").val();
            var status = $("#statusList").val();

            $.ajax({
                type: "POST",
                url: '/Orders/ChangeOrderStatus',
                data: { orderId: id, orderStatus: status },
                success: function (orderId) {
                    var id = orderId
                    if (status == 'Confirmed') {
                        window.open(
                        '@Url.Action("Invoice","Orders",new { id = "CC"})'.replace("CC", id), '_blank');
                        document.location.reload(true);
                    } else {
                        window.location.href = "/Orders/OrdersInProgress";
                    }
                }
            });
        }
        
    </script>
    <script src="~/assets/js/table.min.js"></script>
    <script src="~/assets/js/pages/tables/jquery-datatable.js"></script>

}